    

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> <!-- #1 -->
          
      </div>
       <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav">
              <li><a href="/get_all_customers">Dashboard</a></li>
              <li><a href="/customers">Customers</a></li>
              <li><a href="/surveys">Surveys</a></li>
              <li><a href="/question">Questions</a></li>
              <li><a href="/edit-user">Edit user</a></li>
          </ul>
      </div> <!-- #2 -->
  </div>
</nav>

    
<fieldset> 
 
      <h2></h2>
      
          <div >
          First Name 
          <input type="text" class="form-control" [(ngModel)]="currentUser.first_name" />
          </div>

          <div class="form-group">
          Last Name 
          <input type="text" class="form-control" [(ngModel)]="currentUser.last_name" />
          </div>

          
          <div class="form-group">
          Username 
          <input type="text" class="form-control" [(ngModel)]="currentUser.username" />
          </div>

          <div class="form-group">
          Email :
          <input type="text" class="form-control" [(ngModel)]="currentUser.email" />
          </div>
              
</fieldset> 
<button type="button" class="btn btn-info"  (click)="updateUSer(id)">Edit user </button> 
<button type="button" class="btn btn-danger" >Delete user </button>


