    

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> <!-- #1 -->
          
      </div>
       <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav">
              <li><a href="/get_all_customers">Dashboard</a></li>
              <li><a href="/customers">Customers</a></li>
              <li><a href="/surveys">Surveys</a></li>
              <li><a href="question">Questions</a></li>
              <li><a href= "/edit-user">Edit user</a></li>
          </ul>
      </div> <!-- #2 -->
  </div>
</nav>

    
<fieldset> 
 
      <h2></h2>
      
          <div >
          First Name 
          <input type="text" class="form-control" [(ngModel)]="client.first_name" />
          </div>

          <div class="form-group">
          Last Name 
          <input type="text" class="form-control" [(ngModel)]="client.last_name" />
          </div>

          
          <div class="form-group">
          Phone 
          <input type="text" class="form-control" [(ngModel)]="client.phone" />
          </div>

          <div class="form-group">
          Address :
          <input type="text" class="form-control" [(ngModel)]="client.address" />
          </div>

          <div class="form-group">
            Birthday :
           <input type="text" class="form-control" [(ngModel)]="client.birthday" />
          </div>



              
</fieldset> 
<button type="button" class="btn btn-info" (click)="updateCustomer()">Save</button> 
<button type="button" class="btn btn-danger" (click)="deleteCustomer()">Delete user </button>


