<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <!-- #1 -->
            
        </div>
         <div class="collapse navbar-collapse"> 
            <ul class="nav navbar-nav">
                <li><a href="/home">Dashboard</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/surveys">Surveys</a></li>
                <li><a href="question">Questions</a></li>
                <li><a href= "/edit-user">Edit user</a></li>
            </ul>
        </div> <!-- #2 -->
    </div>
</nav>

<div class="container">
<div id="tbl">
    <button type="button" class="btn btn-primary"(click)= "Myfunction1()" > Create Customer </button>  
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th> 
      <th scope="col">Phone</th>
      <th scope="col"> Birthday</th>
      <th scope="col"> Adress </th>
      <th scope="col"> User created </th>
      <th scope="col"> Created Date </th>
      <th scope="col"> Edit </th>
      <th scope="col"> Select </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients" scope="row">
      <td >{{client.first_name}}</td>
      <td>{{client.last_name}}</td> 
      <td>{{client.phone}}</td>
      <td>{{client.birthday}}</td>
      <td>{{client.address}}</td> 
      <td>{{client.created_at}}</td>
      <td>{{client.created_at}}</td>
      <td><button type="button" class="btn btn-info"(click)= "Showuserdetails(client.id)" > Details</button></td> 
      <td><button type="button" class="btn btn-info"(click)= "Showsurveys()">Surveys</button></td> 
    </tr> 
  </tbody>   
  </table>
</div>
</div>

