<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <!-- #1 -->
            
        </div>
         <div class="collapse navbar-collapse"> 
            <ul class="nav navbar-nav">
                <li><a href="/home">Dashboard</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/surveys">Surveys</a></li>
                <li><a href="question">Questions</a></li>
                <li><a href= "/edit-user">Edit user</a></li>
            </ul>
        </div> <!-- #2 -->
    </div>
</nav>


<div id="tbl">
    <button type="button" class="btn btn-primary"(click) = "createsurvey()" > Create Survey</button> 
    <table class="table table-striped table-bordered">
    <tr>
      <th>Description</th>
      <th>Type of mandatory</th> 
      <th>Start date</th>
      <th> End date</th>
      <th> Customer created </th>
      <th> Edit </th>
      <th> Select </th>
      <th>Download </th>
    </tr>
    <tr *ngFor="let survey of surveys">
      <td>{{survey.description}}</td>
      <td>{{survey.type_survey}}</td> 
      <td>{{survey.start_date}}</td>
      <td>{{survey.end_date}}</td>
      <td>{{survey.customer_created}}</td>
      <td><button type="button" class="btn btn-info"(click)= "Showsurveydetails(survey.id)" > Details</button></td> 
      <td><button type="button" class="btn btn-info"(click)= "Showsurveys()">Q&A</button></td> 
      <td><button type="button" class="btn btn-info"(click)= "Downloadpdf()" > PDF</button></td> 


    </tr>    
  </table>

  </div>

  

