table {
    
    border-collapse: collapse;
    border: 3px solid purple;
    height:100%;
    width:100%; 
    position: absolute;
    margin-right: 0;
    background-color: transparent;
  }

tr
{
  border: 1px solid pink;
}
td
{
  background: white;
  padding: 5px 0;
}

