<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> <!-- #1 -->
          
      </div>
       <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav">
              <li><a href="/home">Dashboard</a></li>
              <li><a href="/customers">Customers</a></li>
              <li><a href="/surveys">Surveys</a></li>
              <li><a href="/question">Questions</a></li>
              <li><a href= "/edit-user">Edit user</a></li>
          </ul>
      </div> <!-- #2 -->
  </div>
</nav>


 <div id="tbl1">
 <button type="button" class="btn btn-primary"(click)= "Createquestion()" > New question  </button> 
  <table class="table table-striped table-bordered"> 
    <tr>
      <th>Description Name</th>
      <th>Type of question</th> 
      <th>Date of creation </th>
      <th> Edit question </th>
    </tr>
    <tr *ngFor="let q of questions">
      <td >{{q.description_question}}</td>
      <td>{{q.type_question}}</td> 
      <td>{{q.created_at}}</td>
      
      <td><button type="button" class="btn btn-info"(click)= "Editquestion(q.id)">Edit </button></td> 
    </tr>    
  </table>
</div>

  
 <button type="button" class="btn btn-primary"(click)= "Createanswer()" > New answer  </button>   
  <table class="table table-striped table-bordered"> 
  <tr>
    <th>Description Name</th>
    <th>Date of creation </th>
    <th> Edit answer </th>
  </tr>
  <tr *ngFor="let answer of answers">
    <td >{{answer.description_answer}}</td>
    <td>{{answer.created_at}}</td>

    <td><button type="button" class="btn btn-info"(click)= "Editanswer(answer.id)">Edit </button></td> 

  </tr>    
</table>



