    

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> <!-- #1 -->
          
      </div>
       <div class="collapse navbar-collapse"> 
          <ul class="nav navbar-nav">
              <li><a href="/get_all_customers">Dashboard</a></li>
              <li><a href="/customers">Customers</a></li>
              <li><a href="/surveys">Surveys</a></li>
              <li><a href="/question">Questions</a></li>
              <li><a href= "/edit-user">Edit user</a></li>
          </ul>
      </div> <!-- #2 -->
  </div>
</nav>

    
<fieldset> 
 
      <h2> Update survey</h2>
      
          <div >
          Description
          <input type="text" class="form-control" [(ngModel)]="survey.description" />
          </div>

          <div class="form-group">
          Type of survey 
          <input type="text" class="form-control" [(ngModel)]="survey.type_survey" />
          </div>

          
          <div class="form-group">
          Start date 
          <input type="text" class="form-control" [(ngModel)]="survey.start_date" />
          </div>

          <div class="form-group">
          End date 
          <input type="text" class="form-control" [(ngModel)]="survey.end_date" />
          </div>




              
</fieldset> 
<button type="button" class="btn btn-info" (click)="updateSurvey()">Save / Update</button> 
<button type="button" class="btn btn-danger" (click)="deleteSurvey()">Delete survey </button>


