/* You can add global styles to this file, and also import other style files */



table, th, td {
    border: 1px solid black;
    margin-top: 70px;
 }
 th, td {
    padding: 15px;
    text-align: left;
}

#tbl {
    margin: 20px;
}
#btn1 {
    float: right;
}

.select-type {
       -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
}
 
